
{{ define "main" }}
<div class="section-header">
  <h1>Images</h1>
  <div class="accent-line"></div>
</div>
<div class="video-grid">
  {{ range .Site.Data.images.images }}
  {{ if .title }}
  <div class="video-grid__item">
    <div class="video-grid__metadata">
      <h2>{{ .title }}</h2>
      <p class="location">
        <i class="location-icon"></i>{{ .location }}
      </p>
      <p class="date">
        <i class="calendar-icon"></i>{{ .date }}
      </p>
    </div>
    <img src="{{ .url }}" alt="{{ .title }}" class="image-grid__image">
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}
