modules = ["python-3.12", "c-clang14", "web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Hugo"

[[workflows.workflow]]
name = "Run Hugo"
author = 18971042
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "hugo server --bind=0.0.0.0 --port=5000 --baseURL=https://$REPL_SLUG.$REPL_OWNER.repl.co"

[[workflows.workflow]]
name = "Install Hugo"
author = 18971042
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "curl -L https://github.com/gohugoio/hugo/releases/download/v0.115.4/hugo_extended_0.115.4_Linux-64bit.tar.gz | tar xz && sudo mv hugo /usr/local/bin/"

[[ports]]
localPort = 5000
externalPort = 80
