* {
  text-align: center;
}

#calc {
  background-color: #2197F3;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  padding-bottom: 15px;
}

input {
  text-align: left;
}

#instructions {
  color: white;
  font-style: italic;
  font-size: medium;
}

#result {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
  text-align: center;
}
