
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">
    <title>{{ if .Title }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    {{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

    {{ template "_internal/opengraph.html" . }}
  </head>
  <body>
    <header class="site-header">
      <div class="header-container">
        <nav class="site-nav">
          <div class="nav-content">
            <a href="/" class="site-title"><img src="/favicon.ico" alt="Favicon" class="favicon-image" style="height: 1em; vertical-align: middle; margin-right: 0.5em;">laundromatzat.com</a>
          </div>
        </nav>
      </div>
    </header>

    <nav class="main-nav">
      <div class="main-nav-container">
        <a href="/" class="nav-button {{ if .IsHome }}active{{ end }}">home</a>
        <a href="/videos" class="nav-button {{ if eq .RelPermalink "/videos/" }}active{{ end }}">videos</a>
        <a href="/cinemagraphs" class="nav-button {{ if eq .RelPermalink "/cinemagraphs/" }}active{{ end }}">cinemagraphs</a>
        <a href="/images" class="nav-button {{ if eq .RelPermalink "/images/" }}active{{ end }}">images</a>
      </div>
    </nav>

    <main class="content-area">
      {{ block "main" . }}{{ end }}
    </main>

    <footer>
      <div class="header-container">
        <p>&copy; 2025 laundromatzat.com</p>
      </div>
    </footer>
  </body>
</html>
