{{ define "main" }}
<main class="container">
    <h1>{{ .Title }}</h1>
    <input type="text" id="searchInput" placeholder="Enter search term...">
    <div id="searchResults">
        <p>Search results will appear here.</p>
    </div>

    {{/* Scripts specific to search functionality */}}
    {{/* lunr.min.js and search.js are in static/js, so use relURL */}}
    <script src="{{ "/js/lunr.min.js" | relURL }}"></script>
    <script src="{{ "/js/search.js" | relURL }}"></script>
</main>
{{ end }}
