{{ define "main" }}
<div class="section-header">
  <h1>Cinemagraphs</h1>
  <div class="accent-line"></div>
  <div class="section-introduction">{{ .Content }}</div>
</div>

<div id="cinemagraph-grid-container" class="cinemagraph-grid">
  {{ range .Site.Data.cinemagraphs.cinemagraphs }}
    <div class="cinemagraph-item" data-video-url="{{ .firebase_url }}">
      <img src="{{ .thumbnail | default "/images/placeholder.webp" | relURL }}" alt="{{ .title }}" class="cinemagraph-item__thumbnail">
      <div class="cinemagraph-overlay">
        <h2>{{ .title }}</h2>
        <div class="cinemagraph-metadata">
          <p class="location">{{ .location }}</p>
          <p class="date">{{ .date }}</p>
        </div>
      </div>
      <div class="play-icon-overlay">
        <i class="fas fa-play-circle"></i>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
