{{ define "main" }}
<div class="section-header">
  <h1>videos</h1>
  <div class="accent-line"></div>
  <div class="section-introduction">{{ .Content }}</div>
</div>

<div id="video-grid-container">
  <div class="video-grid">
    {{ range .Site.Data.videos.videos }}
      <div class="video-grid__item" data-video-url="{{ .firebase_url }}">
        <img src="{{ .thumbnail | default "/images/placeholder.webp" | relURL }}" alt="{{ .title }}" class="video-grid__thumbnail">
        <div class="video-grid__metadata-overlay">
          <h2>{{ .title }}</h2>
          <div class="video-grid__info-row">
            {{ with .location }}<p class="location">{{ . }}</p>{{ end }}
            {{ with .date }}<p class="date">{{ . }}</p>{{ end }}
          </div>
          <i class="fas fa-play-circle video-grid__play-icon"></i>
          {{ with .behind_the_lens }}
            <i class="fas fa-camera behind-the-lens__icon"></i>
          {{ end }}
        </div>
        {{ with .behind_the_lens }}
        <div class="behind-the-lens__content" style="display: none;">
          <h3>Behind the Lens</h3>
          <p>{{ . }}</p>
        </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
